@font-face {
	font-family: Roboto-Regular;
	src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto-Bold;
	src: url(../assets/fonts/Roboto-Bold.ttf);
}

* {
	box-sizing: border-box;
	color: hsl(234, 29%, 20%);
}

body {
	font-family: Roboto-Regular;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: hsl(234, 29%, 20%);
}

h1 {
	font-family: Roboto-Bold;
	font-weight: 300;
	font-size: 3.5rem;
}
.card {
	display: flex;
	width: 800px;
	background-color: hsl(0, 0%, 100%);
	padding: 30px;
	border-radius: 20px;
	gap: 10px;
}

.left {
	width: 60%;
}

.right {
	width: 40%;
}

/* image to fit inside the card */
.right img {
	width: 100%;
}

ul {
	list-style-image: url(../assets/images/icon-list.svg);
	margin-bottom: 10%;
	margin-top: 5%;
	padding-left: 30px;
}

li {
	margin-bottom: 10px;
}
.email-label {
	font-size: 0.8em;
	font-family: Roboto-Bold;
}
label {
	font-family: Roboto-Bold;
	font-size: 0.8em;
}
form {
	font-family: inherit;
	display: flex;
	flex-direction: column;
	width: 300px;
}
label {
	margin-bottom: 10px;
}
input {
	padding: 20px 20px;
	font-family: inherit;
	border-radius: 5px;
	outline: none;
	border: 1px solid hsl(235, 18%, 26%);
}

button {
	padding: 15px 20px;
	font-family: Roboto-Bold;
	border-radius: 5px;
	margin-top: 20px;
	outline: none;
	border: none;
	background-color: hsl(234, 29%, 20%);
	color: hsl(0, 0%, 100%);
	font-size: 0.9rem;
	cursor: pointer;
}

button:hover {
	background-color: hsl(4, 100%, 67%);
	color: hsl(0, 0%, 100%);
	transition-duration: 0.7s;
}

.hide {
	display: none;
}

.card-2 {
	background-color: hsl(0, 0%, 100%);
	width: 480px;
	padding: 50px;
	border-radius: 40px;
}

.card-2 h2 {
	font-family: Roboto-Bold;
	font-weight: 300;
	font-size: 3rem;
	margin-top: 20px;
}

.icon-card-2 {
	width: 60px;
}

.card-2 button {
	width: 100%;
}

.card-2 p {
	line-height: 1.6em;
}

@media (max-width: 768px) {
	.card {
		flex-direction: column-reverse;
		height: 100vh;
	}
	.card h1 {
		font-size: 2.5em;
	}
	.left {
		width: 100%;
		padding: 20px;
	}
	.right {
		width: 100%;
	}
	.right img {
		content: url('../assets/images/illustration-sign-up-mobile.svg');
	}
	body {
		padding: 0;
	}
	form {
		width: 100%;
	}
	.card-2 {
		padding-top: 20vh;
		min-height: 100vh;
	}
}
